extends layout

block content
    .panel.panel-default
        .panel-heading Change Device Identity
        .panel-body 
            if !telemetry
                form(action='/device', method='post')
                    fieldset
                        .form-group.row
                            .col-sm-2
                                label Device Id
                                input.form-control(type='text', name='deviceId') 
                            .col-sm-8   
                                label Connection String
                                input.form-control(type='text', name='cs') 
                            .col-sm-2
                                button.btn.btn-primary(type='submit', name="change", value='identity') register        
            else
                p not allowed, transmitting telemetry
        
