extends layout

block content
    .panel.panel-default
        .panel-heading Change Device Identity
        .panel-body 
            if !telemetry
                form(action='/device', method='post')
                    fieldset
                        .form-group.row
                            .col-sm-2
                                input.form-control(type='text', name='deviceId', placeholder='device id') 
                            .col-sm-8   
                                input.form-control(type='text', name='cs', placeholder='connection string') 
                            .col-sm-2
                                    button.btn.btn-danger(type='submit') change
            else
                p not allowed, transmitting telemetry
        
