extends layout

block content
        .panel.panel-default
            .panel-heading Device Status
            .panel-body        
                    .form-group.row
                        .col-sm-12
                            label Connection State
                            input.form-control(type='text', placeholder=status, readonly) 
                    .form-group.row
                        .col-sm-12
                            label Last Sent Message
                            input.form-control(type='text', placeholder=lsm, readonly) 