extends layout

block content
        .panel.panel-default
            .panel-heading Device Telemetry
            .panel-body        
                form(action='/tele', method='post')
                    fieldset
                        .form-group.row
                            .col-sm-4
                                label payload encoding
                                select.selectpicker.form-control(name='payload')
                                    option(value='json') json
                                    option(value='avro') avro
                            .col-sm-4
                                label application protocol
                                select.selectpicker.form-control(name='protocol')
                                    option(value='mqtt') mqtt
                                    option(value='amqp') amqp    
                            .col-sm-4
                                label telemetry interval in ms
                                input.form-control(type='text', name='interval', placeholder='default 30000 ms')   
                        .form-group.row                       
                            .col-xs-1
                                button.btn.btn-space.btn-success(type='submit', name='action', value='start') start                                                                   
                            .col-xm-1
                                button.btn.btn-space.btn-danger(type='submit', name='action', value='stop') stop                                           