extends layout

block content
        .panel.panel-default
            .panel-heading Device Telemetry
            .panel-body        
                form(action='/tele', method='post')
                    fieldset
                        .form-group.row
                            .col-sm-4
                                input.form-control(type='text', name='interval', placeholder='telemetry interval in ms (default 60000)')   
                            .col-xs-1
                                button.btn.btn-space.btn-default(type='submit', name='action', value='start') start                                                                   
                            .col-xm-1
                                button.btn.btn-space.btn-default(type='submit', name='action', value='stop') stop                                           